#single-spa-welcome {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 550px;
}
#single-spa-welcome h2,
#single-spa-welcome h3,
#single-spa-welcome p,
#single-spa-welcome ul,
#single-spa-welcome ol,
#single-spa-welcome pre {
  margin: 0;
  margin-bottom: 0.6em;
}

#single-spa-welcome li {
  margin-bottom: 0.4em;
}

#single-spa-welcome pre {
  background: #eef;
  overflow-y: scroll;
  padding: 0.6em;
}

#single-spa-welcome a {
  color: #01f;
  font-weight: bold;
  text-decoration: none;
}

#single-spa-welcome a:hover {
  text-decoration: underline;
}

#single-spa-welcome a:visited {
  color: #02a;
}

#single-spa-welcome aside {
  border-left: 3px solid #01f;
  font-size: 0.9rem;
  margin-top: 0.4em;
  padding-left: 1ch;
}

#single-spa-welcome .logo {
  display: block;
  margin-right: 1rem;
  width: 60px;
}

#single-spa-welcome .banner {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem 0;
}

#single-spa-welcome .center {
  text-align: center;
}
